@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

* {
    scroll-behavior: smooth;
}

.orbitron {
    font-family: "Orbitron", sans-serif;
}

.bg-hero-mobile {
    display: none
}

.bg-hero {
    display: block;
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -100px;
    height: 120svh;
}

.bg-hero-news {
    background-image: url('./assets/news-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 110svh;
}

.bg-news {
    background-image: url('./assets/news-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1032px;
}

.bg-elmar {
    background-image: url('./assets/elmar2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 796px;
    margin-top: 32px;
}

.bg-fuchsia-975 {
    background-color: #321E3A;
}

.bg-fuchsia-975-80 {
    background-color: rgba(50, 30, 58, 0.85);
}

.text-fuchsia-975 {
    color: rgba(50, 30, 58, 1);
}

.zilla-slab-regular {
    font-family: "Zilla Slab", serif;
    font-style: normal;
}

.text-sky {
    color: rgba(93, 123, 191, 1);
}

.bg-sky-elmar {
    background-color: rgba(93, 123, 191, 1);
}

.swiper-button-prev,
.swiper-button-next {
    color: rgb(121, 23, 159) !important;
}

@keyframes bounce-x {
  0%, 100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(10px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-x-hover:hover .bounce-x {
  animation: bounce-x 0.6s infinite;
}

@keyframes bounce-y {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(10px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-y-hover:hover .bounce-y {
  animation: bounce-y 0.6s infinite;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.hamburger-menu span {
  display: block;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transform-origin: left;
  transition: transform 0.3s ease;
  width: 100%;
}

/* Animación wave */
@keyframes wave {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.5);
  }
}

/* Al hacer hover en el botón, se anima cada línea con delay */
.hamburger-menu:hover span:nth-child(1) {
  animation: wave 1.5s ease-in-out infinite;
  animation-delay: 0s;
}

.hamburger-menu:hover span:nth-child(2) {
  animation: wave 1.5s ease-in-out infinite;
  animation-delay: 0.15s;
}

.hamburger-menu:hover span:nth-child(3) {
  animation: wave 1.5s ease-in-out infinite;
  animation-delay: 0.3s;
}


@media screen and (max-width: 768px) {
    .bg-hero {
        display: none;
    }

    .bg-hero-mobile {
        display: block;
        background-image: url('./assets/bg-hero-mobile.png');
        background-size: cover;
        height: 100svh;
        background-position: right;
    }

    .bg-news {
        display: block;
        background-image: url('./assets/news-bg-mobile.png');
        background-size: cover;
        background-position: center center;
    }

    .bg-elmar {
        height: 460px;
        background-size: cover;
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (max-width: 374px) {
    .bg-elmar {
        height: 366px;
    }
}